body {
  background-color: rgb(14, 14, 65);
}

.main {
 height:100vh ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_container {
  display: flex;
  width: 800px;
  height: 350px;
  background-color:cornflowerblue;
  color: white;
  border-radius: 20px;
  overflow: hidden;
}

.text_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_container {
  flex: 1;
}

.image_container img {
  height: 100%;
  width: 100%;
}
