*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width:40px;
    border-radius: 20px;
    margin-left: 15px;
}



.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: darkblue;
    justify-content: space-between;
    align-items: center;
    
}

.links{
    width: 20%;
    display: flex;
    color: orange;
    justify-content:space-around;
   
}